<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>列表</title>
	</head>
	<body>
		<div id="app">
			<div>
				<ul>
					<li v-for="item in items">{{item.message}}</li>
				</ul>
			</div>
			<div>
				<ul>
					<li v-for="(item,index) in items" :key="index" :title="index">
						{{message}} - {{index}} - {{item.message}}
					</li>
				</ul>
			</div>
			<div>
				<ul>
					<li v-for="item of items">
						{{item.message}}
					</li>
				</ul>
			</div>
			<div>
				<ul>
					<li v-for="list of lists">{{list}}</li>
				</ul>
			</div>
			<div>
				<ul>
					<li v-for="(value,key) in lists">{{key}}:{{value}}</li>
				</ul>
			</div>
			<div>
				<ul>
					<li v-for="(value,key,index) in lists" v-bind:key="value">
						{{index}}.{{key}}:{{value}}
					</li>
				</ul>
			</div>
		</div>
		<script src="../lib/jquery-1.11.3.min.js"></script>
		<script src="../lib/vue.js"></script>
		<script>
			var app=new Vue({
				el:'#app',
				data:{
					message:"Hello Vue",
					items:[
						{
							id:0,
							message:'Foo'
						},
						{
							id:1,
							message:'Bar'
						}
					],
					lists:{
						id:0,
						text:"Hello AB",
						age:40
					}
				}
			})
			
			
			$(function(){
				Vue.set(app.items,app.items.length,{id:2,message:'Foo Bar'});
				app.items.splice(app.items.length,1,{id:3,message:'Foo Bar'});
				Vue.set(app.lists,'girlfriend','xiaoming');
//				app.items.splice(2);
				Vue.set(app.lists,'friend','xiaozhu');
				app.lists=Object.assign({},app.lists,{'ttt':'aaa','ccc':'bbb'});
			})
			
		</script>
	</body>
</html>
